| Column Name | Type    |
|-------------|---------|
| id          | int     |
| num         | varchar |

In SQL, id is the primary key for this table.  
id is an autoincrement column starting from 1.  

Find all numbers that appear at least three times consecutively.  

Return the result table in any order.  

The result format is in the following example.  

**Example 1:**  

Input:  
`Logs` table:  

| id | num |
|----|-----|
| 1  | 1   |
| 2  | 1   |
| 3  | 1   |
| 4  | 2   |
| 5  | 1   |
| 6  | 2   |
| 7  | 2   |

Output:  

| ConsecutiveNums |
|-----------------|
| 1               |

**Explanation:** 1 is the only number that appears consecutively for at least three times.

In [1]:
import pandas as pd

def consecutive_numbers(df: pd.DataFrame) -> pd.DataFrame:
    df['group'] = (df['num'] != df['num'].shift()).fillna(False).cumsum()
    df = df.groupby(['num','group']).filter(lambda df: len(df) >= 3)
    return pd.DataFrame({'ConsecutiveNums': df['num'].unique()})

In [2]:
test_1 = pd.DataFrame({"id": [1, 2, 3, 4, 5, 6, 7], "num": [2, 1, 1, 1, 1, 2, 2]})
consecutive_numbers(test_1)

   ConsecutiveNums
0                1